html {
  scroll-behavior: smooth;
}

body {
  font-size: 12px;
  font-family: var(--default-font);
  letter-spacing: 0.02em;
  color: var(--color-white-main);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
// Это сокрытие  псевдозаголовка. 
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// Это сокрытие  псевдозаголовка. 
