.container {
  // Breakpoints
  // 1. Mobile screen - 480px
  // 2. Tablet screen - 768px
  // 3. Desktop screen - 1200px

  // Mobile screen
  min-width: 320px;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  //  Tablet screen
  @media screen and (min-width: 768px) {
    max-width: 720px;
    padding-left: 32px;
    padding-right: 32px;
  }
  //  Desktop screen
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
