<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-window">
      <button class="close-button modal-button-close" data-modal-close>
        <svg width="20" height="20">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal-window__title">Buy now</p>

      <form>
        <div class="modal-window__list">
          <div class="modal-window__item">
            <label>
              <input type="checkbox" class="buy__hidden-button" name="buy-element" id="buy-ice-cream" />
              <span class="modal-window__card modal-window__card--first">
                <img class="product-img" srcset="
                    ./images/modal-bay-now/product-mod1@1x.png 1x,
                    ./images/modal-bay-now/product-mod1@2x.png 2x
                  " src="./images/modal-bay-now/product-mod1@1x.png " alt="" />
                <span class="modal-window__background modal-window__background--first"></span>
                <span class="product-text">ice cream</span>
              </span>
            </label>
          </div>

          <div class="modal-window__item">
            <label>
              <input type="checkbox" class="buy__hidden-button" name="buy-element" id="buy-ice-coffee" />

              <span class="modal-window__card modal-window__card--second">
                <img class="product-img" srcset="
                    ./images/modal-bay-now/product-mod2@1x.png 1x,
                    ./images/modal-bay-now/product-mod2@2x.png 2x
                  " src="./images/modal-bay-now/product-mod2@1x.png " alt="" />
                <span class="modal-window__background modal-window__background--second"></span>
                <span class="product-text">ice coffee</span>
              </span>

            </label>
          </div>

          <div class="modal-window__item">
            <label>
              <input type="checkbox" class="buy__hidden-button" name="buy-element" id="buy-milkshake" />
              <span class="modal-window__card modal-window__card--third">
                <img class="product-img" srcset="
                    ./images/modal-bay-now/product-mod3@1x.png 1x,
                    ./images/modal-bay-now/product-mod3@2x.png 2x
                  " src="./images/modal-bay-now/product-mod3@1x.png " alt="" />
                <span class="modal-window__background modal-window__background--third"></span>
                <span class="product-text">milkshake</span>
              </span>
            </label>
          </div>


          <div class="form-field">
            <label class="form-label" for="name">Name</label>
            <input required class="form-input" type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="form-field">
            <label class="form-label" for="tel">Phone</label>
            <input required class="form-input" type="tel" name="tel" id="tel" placeholder="Phone" />
          </div>

          <div class="form-field">
            <label class="form-label" for="comment">Comment</label>
            <textarea required class="form-input area" name="comment" id="comment" rows="10"
              placeholder="Comment"></textarea>
          </div>
          <button class="submit-button button buy__button" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>