<div class="container">
  <div class="backdrop is-hidden-franchise" data-modal-franchise>
    <div class="franchise">
      <button class="modal-button-close" type="button" data-modal-close-franchise>
        <svg class="modal__icon-button">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="franchise__subtitle">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <form class="franchise__form">
        <p class="franchise__paragraph">
          Due to the overwhelming volume of franchise requests we are not
          accepting new franchisee applications at this time. Once the
          application process resumes, we will contact you for further
          information. Please fill out the contact information below and we will
          reach out for additional information. We appreciate your patience.
        </p>
        <div class="franchise__field">
          <label class="franchise__mark" for="name"></label>
          <input class="franchise__date" type="text" name="name" id="name" required placeholder="Name" />
        </div>
        <div class="franchise__field">
          <label class="franchise__mark" for="tel"></label>
          <input class="franchise__date" type="tel" name="tel" id="tel" required placeholder="Phone" />
        </div>
        <div class="franchise__field">
          <label class="franchise__mark" for="mail"></label>
          <input class="franchise__date" type="email" name="mail" id="mail" required placeholder="Email" />
        </div>
        <div class="franchise__field frunchise__field--comment">
          <label class="franchise__mark frunchise__mark--comment" for="comment"></label>
          <textarea class="franchise__date frunchise__date--comment" name="comment" id="comment"
            placeholder="Comment"></textarea>
        </div>
        <button class="franchise__button-send button buy__button" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>