<div class="container">
    <div class="backdrop is-hidden-location" data-modal-location>
        <div class="location">
            <button class="close-button" type="button" data-modal-close-location>
                <svg class="modal__icon-button">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>

            </button>
            <h2 class="location__subtitle">Our Locations</h2>
            <div class="location_map">
                <!-- времення картинка !!!!-->

                <iframe class="map--google"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.2753037086363!2d34.50304681601193!3d49.57369565802753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f3118d0dd7b%3A0xbbb38ba2c686de10!2sMorozyvo!5e0!3m2!1sen!2sua!4v1665688603147!5m2!1sen!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <img class="location_image" src="./images/temp_modal/map1.jpg" alt="map" /> -->
                <!-- времення картинка !!!-->
            </div>
            <button class="location__button-send button buy__button" type="submit">Open map</button>
        </div>
    </div>
</div>
</div>