<div class="container">
  <div class="backdrop is-hidden-location" data-modal-location>
    <div class="location">
      <button
        class="modal-button-close"
        type="button"
        data-modal-close-location
      >
        <svg class="modal__icon-button">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="location__subtitle">Our Locations</h2>
      <div class="location_map">
        <!-- времення картинка !!!!-->
        <img
          class="location_image"
          src="./images/temp_modal/map1.jpg"
          alt="map"
        />
        <!-- времення картинка !!!-->
      </div>
      <button class="location__button-send button buy__button" type="submit">
        Open map
      </button>
    </div>
  </div>
</div>
