<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="container" >
    <div class="location">
        <button class="location__button-close" type="button" data-modal-close>
            <svg class="location__icon-button">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h1 class="location__subtitle ">Our Locations</h1>
        <div class="location_map">
            <!-- времення картинка !!!!-->
            <img class="location_image" src="./images/temp_modal/map1.jpg" alt="map" />
            <!-- времення картинка !!!-->
        </div>
        <button class="button-send button buy__button" type="submit">Open map</button>
    </div>
 </div>
</div