<div class="container">
    <div class="backdrop backdrop--is-hidden" data-modal>
        <div class="read-more">

            <button class="modal-button-close" type="button" data-modal-close>
                <svg class="modal__icon-button">

                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="read-more__subtitle">How it’s made?</h2>
            <div class="read-more_youtube">
                <button class="button-youtube" type="submit">
                    <svg class="read-more__icon-youtube">
                        <use href="./images/icons.svg#icon-youtube"></use>
                    </svg>
                </button>
            </div>
            
            <p class="read-more__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
    </div>
</div>

