<div class="backdrop is-hidden-read-more" data-modal-read-more>
  <div class="read-more">
    <button data-modal-close-read-more class="modal-button-close" type="button">
      <svg class="modal__icon-button">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="read-more__subtitle">How it’s made?</h2>
    <iframe class="read-more_youtube" src="https://www.youtube.com/embed/mR2xsW3GG18" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </iframe>

    <p class="read-more__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>