<section class="advantages">
    <div class="container">
        <ul class="">
            <li class="advantages__list list">
                <div class="advantages__list--box">
                    <svg class="" width="" height="">
                        <!-- <use href=""></use> -->
                    </svg>
                    <p class="advantages__list--title">721</p>
                    <p class="advantages__list--desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages__list list">
                <div class="advantages__list--box">
                    <svg class="" width="" height="">
                        <!-- <use href=""></use> -->
                    </svg>
                    <p class="advantages__list--title">16kg</p>
                    <p class="advantages__list--desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages__list list">
                <div class="advantages__list--box">
                    <svg class="" width="" height="">
                        <!-- <use href=""></use> -->
                    </svg>
                    <p class="advantages__list--title">84</p>
                    <p class="advantages__list--desc">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
        </ul>
    </div>
</section>