<section class="conacts section">
    <div class="container">
        <h2 class="conacts__subtitle">Company representative offices</h2>
        <!-- 1 card -->
        <ul class="conacts__list">
            <li class="conacts__item">
                <b class="office">CAFE</b>
                <address class="office__adress">
                    <p class="office__town">Chicago</p>
                    <span class="office__street">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span>
                </address>
                <ul class="days">
                    <li class="days__item">
                        <p class="days__week">Monday - Friday</p>
                        <span class="days__time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="days__item">
                        <p class="days__week">Saturday - Sunday</p>
                        <span class="days__time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="connection">
            <li class="connection-item">
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
            <li>
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
        </ul>
        <!-- 2 card -->
        <ul class="conacts__list">
            <li class="conacts__item">
                <b class="office">FOOD TRUCK</b>
                <address class="office__adress">
                    <p class="office__town">Los Angeles</p>
                    <span class="office__street">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span>
                </address>
                <ul class="days">
                    <li class="days__item">
                        <p class="days__week">Monday - Friday</p>
                        <span class="days__time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="days__item">
                        <p class="days__week">Saturday - Sunday</p>
                        <span class="days__time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="connection">
            <li class="connection-item">
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
            <li>
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
        </ul>
        <!-- 3 card -->
        <ul class="conacts__list">
            <li class="conacts__item">
                <b class="office">CAFE</b>
                <address class="office__adress">
                    <p class="office__town">New York</p>
                    <span class="office__street">726 Sterling Pl, Brooklyn, NY 11222, USA</span>
                </address>
                <ul class="days">
                    <li class="days__item">
                        <p class="days__week">Monday - Friday</p>
                        <span class="days__time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="days__item">
                        <p class="days__week">Saturday - Sunday</p>
                        <span class="days__time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="connection">
            <li class="connection-item">
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
            <li>
                <a class="connection-link" href="">+61(0) 383 766 284</a>
            </li>
        </ul>
        <ul class="conacts__list-button">
            <li class="conacts__item-button">
                <button class="button conacts__button">
                    Our Locations
                </button>
            </li>
            <li lass="conacts__item-button">
                <button class="button conacts__button">
                    Franchise
                </button>
            </li>
        </ul>~
    </div>
</section>