<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Company representative offices</h2>

    <ul class="contacts__cards-list" data-aos="fade-up" data-aos-duration="700" data-aos-offset="300">
      <!-- 1 card -->
      <li class="contacts__cards-item">
        <b class="office">CAFE</b>
        <address class="office__adress">
          <p class="office__town">Chicago</p>
          <a class="office__street" href="https://goo.gl/maps/XWzP2zJR7E48i8fk6" target="_blank"
            rel="noreferrer noopener">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        </address>
        <ul class="days">
          <li class="days__item">
            <p class="days__week">Monday - Friday</p>
            <span class="days__time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="days__item">
            <p class="days__week">Saturday - Sunday</p>
            <span class="days__time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>


        <ul class="connection">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="connection-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <!-- 2 card -->
      <li class="contacts__cards-item">
        <b class="office office--big">FOOD TRUCK</b>
        <address class="office__adress">
          <p class="office__town">Los Angeles</p>
          <a class="office__street office__street--two" href="https://goo.gl/maps/dsBr6UiP5CXBWkFk7" target="_blank"
            rel="noreferrer noopener">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        </address>
        <ul class="days">
          <li class="days__item">
            <p class="days__week">Monday - Friday</p>
            <span class="days__time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="days__item">
            <p class="days__week">Saturday - Sunday</p>
            <span class="days__time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="connection">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="connection-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <!-- 3 card -->
      <li class="contacts__cards-item">
        <b class="office">CAFE</b>
        <address class="office__adress">
          <p class="office__town">New York</p>
          <a class="office__street office__street--three" href="https://goo.gl/maps/HvnUqQy3xYm8u3Wy8"  target="_blank" rel="noreferrer noopener">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        </address>
        <ul class="days">
          <li class="days__item">
            <p class="days__week">Monday - Friday</p>
            <span class="days__time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="days__item">
            <p class="days__week">Saturday - Sunday</p>
            <span class="days__time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="connection">
          <li class="connection-item">
            <a class="connection-link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li>
            <a class="connection-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__list-button">
      <li class="contacts__item-button" data-aos="fade-right" data-aos-duration="700">
        <button data-modal-open-location class="button contacts__button location__button">
          Our Locations
          <svg class="arrow-one" height="12" width="12">
            <use href="./images/icons.svg#arrow-one" />
          </svg>
        </button>
      </li>
      <li class="contacts__item-button" data-aos="fade-left" data-aos-duration="700">
        <button data-modal-open-franchise class="button contacts__button--two franchise__button">
          Franchise
          <svg class="arrow-one" height="12" width="12">
            <use href="./images/icons.svg#arrow-one" />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>