<section class="customer-reviews section">
  <div class="container">
    <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
    <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have
      beautiful
      serving, cozy atmosphere and polite staff.
    </p>
    <p class="customer-reviews__info">
      Emily, Los Angeles
    </p>
    <input type="text">

    <ul class="customer-reviews__radio-list">
      <li><input class="customer-reviews__radio" type="radio" name="comment" id=""></li>
      <li><input class="customer-reviews__radio" type="radio" name="comment" id=""></li>
      <li><input class="customer-reviews__radio" type="radio" name="comment" id=""></li>

    </ul>
  </div>
</section>