<section class="customer-reviews section">
  <div class="container">
    <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
    <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have
      beautiful
      serving, cozy atmosphere and polite staff.
    </p>
    <p class="customer-reviews__info">
      Emily, Los Angeles
    </p>

    <ul class="customer-reviews__radio-list">
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li>
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li>
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </ul>
  </div>
</section>