<section class="customer-reviews section">
  <!-- <div class="container">
    <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
    <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have
      beautiful
      serving, cozy atmosphere and polite staff.
    </p>
    <p class="customer-reviews__info">
      Emily, Los Angeles
    </p> -->

  <!-- <ul class="customer-reviews__radio-list">
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li>
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li>
      <li>
        <label>
          <input class="customer-reviews__radio" type="radio" name="comment">
          <div class="radio-replace customer-reviews__radio-replace"></div>
        </label>
      </li> -->





  </ul>
  <div class="slider-container">
    <div class="clients__slider swiper">
      <div class="clients__slider-wrapper swiper-wrapper">
        <div class="clients__slider-slide swiper-slide">
          <div class="swiper-container">
            <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
            <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in
              Los
              Angeles! In addition, you have
              beautiful
              serving, cozy atmosphere and polite staff.
            </p>
            <p class="customer-reviews__info">
              Emily, Los Angeles
            </p>
          </div>
        </div>
        <div class="clients__slider-slide swiper-slide">
          <div class="swiper-container">
            <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
            <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in
              Los
              Angeles! In addition, you have
              beautiful
              serving, cozy atmosphere and polite staff.
            </p>
            <p class="customer-reviews__info">
              Emily, Los Angeles
            </p>
          </div>
        </div>
        <div class="clients__slider-slide swiper-slide">
          <div class="swiper-container">
            <img class="customer-reviews__image" src="./images/customer-reviews/customer-1.jpg" alt="">
            <p class="customer-reviews__comment">I love visiting your cafe. You prepare the most delicious ice cream in
              Los
              Angeles! In addition, you have
              beautiful
              serving, cozy atmosphere and polite staff.
            </p>
            <p class="customer-reviews__info">
              Emily, Los Angeles
            </p>
          </div>
        </div>

      </div>
      <div class="customer-reviews__radio-list swiper-pagination"></div>
    </div>
  </div>
  </div>
</section>