<div class="container footer__container">
    <div class="block-subtitle">
        <p class="footer__subtitle-one">
            homemade ice cream made
        </p>
        <strong class="footer__subtitle-two">
            with passion
        </strong>
    </div>
    <div class="block-icon-and-contacts">
        <ul class="footer__list-icon">
            <li class="footer__item-icon">
                <a class="footer__link-icon" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item-icon">
                <a class="footer__link-icon" href="https://telegram.org/" target="_blank" rel="noreferrer noopener">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item-icon">
                <a class="footer__link-icon" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__call-link">
            <p class="footer__call">
                Feel free to contact
            </p>
            <a class="footer__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        </div>
    </div>
</div>
<div class="copyright">
    <p class="copyright__paragraph">
        © 2022 - IceCream. All Rights Reserved.
    </p>
</div>