<section class="footer section">
    <div class="container">

        <p class="footer__subtitle">
            <span class="footer__subtitle-one">
                homemade ice cream made
            </span>
            <strong class="footer__subtitle-two">
                with passion
            </strong>
        </p>
        <ul class="footer__list-icon">
            <li class="footer__item-icon">
                <a class="footer__list-link" href="">
                    <svg class="footer__icon">
                        <!-- <use href=""></use> -->
                    </svg>
                </a>
            </li>
            <li class="footer__item-icon">
                <a class="footer__list-link" href="">
                    <svg class="footer__icon">
                        <!-- <use href=""></use> -->
                    </svg>
                </a>
            </li>
            <li class="footer__item-icon">
                <a class="footer__list-link" href="">
                    <svg class="footer__icon">
                        <!-- <use href=""></use> -->
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__call-link">
            <p class="footer__call">
                Feel free to contact
            </p>
            <a class="footer__phone" href="">
                +61 (0) 383 766 284
            </a>
        </div>
        <div class="copyright">
            <p class="copyright__paragraph">
                <span class="copyright__paragraph-one">© 2022 - IceCream.</span>
                <span class="copyright__paragraph -two">All Rights Reserved.</span>
            </p>
        </div>

    </div>
</section>