<section class="gallery section">
  <div class="container">
    <div class="gallery__wrapper">
      <picture>
        <source srcset="
                                        ./images/gallery/gallery-1-1013.jpg    1x,
                                        ./images/gallery/gallery-1-2026.jpg 2x
                                      " media="(min-width: 1200px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-704.jpg    1x,
                                        ./images/gallery/gallery-1-1408.jpg 2x
                                      " media="(min-width: 768px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-279.jpg    1x,
                                        ./images/gallery/gallery-1-558.jpg 2x
                                      " media="(max-width: 767px)" />
        <img src="./images/gallery/gallery-1-279.jpg" alt="Icecream footage" width="270" class="gallery__image" />
      </picture>
      <picture>
        <source srcset="
                                        ./images/gallery/gallery-1-1013.jpg    1x,
                                        ./images/gallery/gallery-1-2026.jpg 2x
                                      " media="(min-width: 1200px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-704.jpg    1x,
                                        ./images/gallery/gallery-1-1408.jpg 2x
                                      " media="(min-width: 768px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-279.jpg    1x,
                                        ./images/gallery/gallery-1-558.jpg 2x
                                      " media="(max-width: 767px)" />
        <img src="./images/gallery/gallery-1-279.jpg" alt="Icecream footage" width="270" class="gallery__image" />
      </picture>
      <picture>
        <source srcset="
                                        ./images/gallery/gallery-1-1013.jpg    1x,
                                        ./images/gallery/gallery-1-2026.jpg 2x
                                      " media="(min-width: 1200px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-704.jpg    1x,
                                        ./images/gallery/gallery-1-1408.jpg 2x
                                      " media="(min-width: 768px)" />
        <source srcset="
                                        ./images/gallery/gallery-1-279.jpg    1x,
                                        ./images/gallery/gallery-1-558.jpg 2x
                                      " media="(max-width: 767px)" />
        <img src="./images/gallery/gallery-1-279.jpg" alt="Icecream footage" width="270" class="gallery__image" />
      </picture>
    </div>
  </div>
</section>