<section class="header-hero section">
  <div class="container">

    <nav>
      <img src="./images/header-hero/Logo.png" alt="logo">
      <ul>
        <li><a href="">Home</a> </li>
        <li><a href="">How it’s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <button aria-label="Buy now button">Buy now</button>
    <h1>ice cream made with passion</h1>
    <ul>
      <li>16<span>cafes</span></li>
      <li>23<span>food trucks</span></li>
    </ul>

    <ul>
      <li><button aria-label="Products page button">Products</button></li>
      <li><button aria-label="How it’s made page button">How it’s made?</button></li>
    </ul>

    <img src="./images/header-hero/plate_ice-cream.png" alt="a plate with ice cream">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

    <img src="./images/header-hero/ice_cream.png" alt="Big ice cream">
  </div>

</section>