<section class="header-hero section">

  <div class="container container--background-dots">
    <div class="container container__imgs">
      <nav class="nav">
        <img class="logo nav__logo" src="./images/header-hero/logo.png" alt="logo">
        <ul class="list nav__list">
          <li class="nav__item">
            <a href="" class="nav__item-link link" data-nav-link>Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__item-link link" data-nav-link>How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__item-link link" data-nav-link>Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__item-link link" data-nav-link>Contact</a>
          </li>
        </ul>
        <button type="button" class="mobile-menu__button js-open-menu" aria-controls="menu-container_mobile">
          <svg class="" width="32" height="32" aria-label="mobile menu open-button">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>


        <button class="button buy__button" type="button">Buy Now
          <svg height="12" width="12">
            <use class="arrow-one" href="./images/icons.svg#arrow-one" />
          </svg>
        </button>
      </nav>

      <div class="hero">

        </nav>

        <div class="hero">
          <div class="hero__container">
            <h1 class="hero__title">
              ice cream made with <span class="hero__title--big">passion</span>
            </h1>
            <ul class="list hero-franchise">
              <li class="hero-franchise__item">
                <span class="hero-franchise__item--bold">16</span>
                <p>cafes</p>
              </li>
              <li class="hero-franchise__item">
                <span class="hero-franchise__item--bold">23</span>
                <p>food trucks</p>
              </li>
            </ul>
          </div>

          <ul class="list btn-list">
            <!-- TODO: change to links -->
            <li class="btn-list__item">
              <button class="button products__button btn-list__products" type="button">
                Products
              </button>
            </li>
            <li class="btn-list__item">
              <button class="button products__button about-info-btn" aria-label="How it’s made page button">
                How it’s made?
              </button>
            </li>
          </ul>
          <div class="hero-desc">

            <div class="hero-desc__image-container">
              <picture class="hero-desc__image">
                <source media="(min-width: 1200px)"
                  srcset="./images/hero/img1_lg-@1x.png 1x, ./images/hero/img1_lg-@2x.png 2x" type="image/png" />
                <source media="(min-width: 768px)"
                  srcset="./images/hero/img1_md-@1x.png 1x, ./images/hero/img1_md-@2x.png 2x" type="image/png" />
                <img class="hero__plate-img" src="./images/hero/img1_md-@1x.png" alt="a plate with ice cream" />
              </picture>
            </div>

            <div class="hero-desc__text-block">
              <p class="hero-desc__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et</p>
              <button class="products__card-button arrow-two">
                <svg class="button-arrow-default  button-arrow-default--white" width="40" height="16">
                  <use href="./images/icons.svg#arrow-default"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <picture class="hero__img">
          <source media="(min-width: 1200px)"
            srcset="./images/hero/img2_lg-@1x.png 1x, ./images/hero/img2_lg-@2x.png 2x" type="image/png" />
          <source media="(min-width: 768px)" srcset="./images/hero/img2_md-@1x.png 1x, ./images/hero/img2_md-@2x.png 2x"
            type="image/png" />
          <source media="(min-width: 320px)" srcset="./images/hero/img2_sm-@1x.png 1x, ./images/hero/img2_sm-@2x.png 2x"
            type="image/png" />
          <img class="hero__main-img" src="./images/hero/img2_sm-@1x.png" alt="ice-cream-mobile" />
        </picture>

      </div>

      <div class="mobile-window">
        <nav class="nav mobile-menu js-menu-container">

          <div class="mobile-menu__header">
            <img class="logo nav__logo" src="./images/header-hero/logo.png" alt="logo" />
            <button type="button" class="mobile-menu__button js-close-menu" aria-controls="menu-container_mobile">
              <svg class="" width="32" height="32" aria-label="mobile menu close-button">
                <use class="mobile-menu--close" href="./images/icons.svg#icon-burger-close"></use>
              </svg>
            </button>
          </div>

          <ul class="list nav__list-mobile">
            <li class="nav__item-mobile">
              <a href="" class="nav__item-link-mobile link" data-nav-link>Home</a>
            </li>
            <li class="nav__item-mobile">
              <a href="" class="nav__item-link-mobile link" data-nav-link>How it’s made?</a>
            </li>
            <li class="nav__item-mobile">
              <a href="" class="nav__item-link-mobile link" data-nav-link>Our products</a>
            </li>
            <li class="nav__item-mobile">
              <a href="" class="nav__item-link-mobile link" data-nav-link>Contact</a>
            </li>
          </ul>

          <button class="button buy__button buy__button--mobile" type="button" data-modal-open>
            <span> Buy Now</span>
            <svg height="12" width="12">
              <use class="arrow-one" href="./images/icons.svg#arrow-one" />
            </svg>
          </button>
        </nav>
      </div>
</section>