<div class="container">
  <nav class="nav">
    <a href="" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600"><img
        class="logo nav__logo" src="./images/header-hero/logo.png" alt="logo"></a>

    <ul class="list nav__list" data-aos="fade-down" data-aos-duration="800">
      <li class="nav__item">
        <a href="" class="nav__item-link link" data-nav-link>Home
          <svg class="nav__icon">
            <use href="./images/icons.svg#icon-cursor"></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__item-link link" data-nav-link>How it’s made?
          <svg class="nav__icon">
            <use href="./images/icons.svg#icon-cursor"></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="#products" class="nav__item-link link" data-nav-link>Our products
          <svg class="nav__icon">
            <use href="./images/icons.svg#icon-cursor"></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="#contacts" class="nav__item-link link" data-nav-link>Contact
          <svg class="nav__icon">
            <use href="./images/icons.svg#icon-cursor"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="mobile-menu__button js-open-menu">
      <svg class="mobile-menu--open" width="32" height="32" aria-label="mobile menu open-button">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>


    <button data-modal-open-two class="button buy__button buy__button--visible" type="button" data-aos="fade-left"
      data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600">Buy Now
      <svg class="buy__button-arrow" height="12" width="12">
        <use class="arrow-one" href="./images/icons.svg#arrow-one" />
      </svg>
    </button>
  </nav>
</div>

<div class="mobile-window">
  <nav class="nav mobile-menu js-menu-container">

    <div class="mobile-menu__header">

      <a href="" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600"><img
          class="logo nav__logo" src="./images/header-hero/logo.png" alt="logo"></a>
      <button type="button" class="mobile-menu__button js-close-menu">
        <svg class="mobile-menu--close" width="32" height="32" aria-label="mobile menu close-button">
          <use href="./images/icons.svg#icon-burger-close"></use>
        </svg>
      </button>
    </div>

    <ul class="list nav__list-mobile">
      <li class="nav__item-mobile">
        <a href="" class="nav__item-link-mobile link" data-nav-link>Home</a>
      </li>
      <li class="nav__item-mobile">
        <a href="" class="nav__item-link-mobile link" data-nav-link>How it’s made?</a>
      </li>
      <li class="nav__item-mobile">
        <a href="" class="nav__item-link-mobile link" data-nav-link>Our products</a>
      </li>
      <li class="nav__item-mobile">
        <a href="" class="nav__item-link-mobile link" data-nav-link>Contact</a>
      </li>
    </ul>

    <button class="button buy__button buy__button--mobile" type="button" data-modal-open>
      <span> Buy Now</span>
      <svg height="12" width="12">
        <use class="arrow-one" href="./images/icons.svg#arrow-one" />
      </svg>
    </button>
  </nav>
</div>