<section class="section hero__section">
  <div class="container container--background-dots section">
    <div class="hero">
      <div class="hero__container">
        <h1 class="hero__title" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine"
          data-aos-duration="800">
          ice cream made with <span class="hero__title--big">passion</span>
        </h1>
        <ul class="list hero-franchise" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine"
          data-aos-duration="800">
          <li class="hero-franchise__item">
            <span class="hero-franchise__item--bold">16</span>
            <p>cafes</p>
          </li>
          <li class="hero-franchise__item">
            <span class="hero-franchise__item--bold">23</span>
            <p>food trucks</p>
          </li>
        </ul>
      </div>

      <ul class="list btn-list" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        <li class="btn-list__item">
          <a class="link products__link" href="#products">Products</a>

        </li>
        <li class="btn-list__item">
          <a class="link products__link about-info-link" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-desc">

        <picture class="hero-desc__image" data-aos="fade-up" data-aos-duration="1000">
          <source media="(min-width: 1200px)"
            srcset="./images/hero/img1_lg-@1x.png 1x, ./images/hero/img1_lg-@2x.png 2x" type="image/png" />
          <source media="(min-width: 768px)" srcset="./images/hero/img1_md-@1x.png 1x, ./images/hero/img1_md-@2x.png 2x"
            type="image/png" />
          <img class="hero__plate-img" src="./images/hero/img1_md-@1x.png" alt="a plate with ice cream" />
        </picture>


        <div class="hero-desc__text-block" data-aos="fade-up" data-aos-duration="1000">
          <p class="hero-desc__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et</p>
          <button class="arrow-two  hero__arrow-two">
            <svg width="40" height="16">
              <use href="./images/icons.svg#arrow-default"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <picture class="hero__img" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="700"
      data-aos-duration="800" data-aos-offset="0">
      <source media="(min-width: 1200px)" srcset="./images/hero/img2_lg-@1x.png 1x, ./images/hero/img2_lg-@2x.png 2x"
        type="image/png" />
      <source media="(min-width: 768px)" srcset="./images/hero/img2_md-@1x.png 1x, ./images/hero/img2_md-@2x.png 2x"
        type="image/png" />
      <source media="(min-width: 320px)" srcset="./images/hero/img2_sm-@1x.png 1x, ./images/hero/img2_sm-@2x.png 2x"
        type="image/png" />
      <img class="hero__main-img" src="./images/hero/img2_sm-@1x.png" alt="ice-cream-mobile" />
    </picture>

  </div>
</section>