<section class="products section">
    <div class="container">
        <p class="uppertitle">100% NATURAL</p>
        <h2 class="products__title title">PRODUCTS</h2>
        <ul class="products__list">
            <li class="products__item">
                <picture></picture>
                <span class="products__background products__background--ice-cream"></span>
                <div class="products__card products__card--ice-cream">
                    <h3 class="products__card-title">ice cream</h3>
                    <div class="products__card-box">
                        <p class="products__card-text">Soft ice cream with a delicate taste. Made with milk, cream,
                            sugar and natural stabilizer
                        </p>
                        <button class="products__card-button button">
                            <!-- <svg class="" width="" height="">
                                <use href=""></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <picture></picture>
                <span class="products__background products__background--ice-coffee"></span>
                <div class="products__card products__card--ice-coffee">
                    <h3 class="products__card-title">ice coffee</h3>
                    <div class="products__card-box">
                        <p class="products__card-text">Fragrant invigorating drink created from 100% natural
                            ingredients without the use of preservatives and flavor enhancers</p>
                        <button class="products__card-button button">
                            <!-- <svg class="" width="" height="">
                                <use href=""></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <picture></picture>
                <span class="products__background products__background--milkshakes"></span>
                <div class="products__card products__card--milkshakes">
                    <h3 class="products__card-title">milkshakes</h3>
                    <div class="products__card-box">
                        <p class="products__card-text">Sweet drinks based on milk and ice cream, supplemented with
                            syrups, fruits, berries and other sweets of your choice</p>
                        <button class="products__card-button button">
                             <!-- <svg class="products__button-arrow" width="" height="">
                                <use href="../images/icons.svg#arrow-default"></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>