<section class="products section">
    <div class="container">
        <p class="uppertitle">100% NATURAL</p>
        <h2 class="products__title">PRODUCTS</h2>
        <ul class="products__list">
            <li class="products__list--item list">
                <picture></picture>
                <div class="products__card">
                    <h3 class="products__card--title">ice cream</h3>
                    <div class="products__card--box">
                        <p class="products__card--box-text">Soft ice cream with a delicate taste. Made with milk, cream,
                            sugar and natural stabilizer
                        </p>
                        <button class="products__card--box-button button">
                            <!-- <svg class="" width="" height="">
                                <use href=""></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__list--item list">
                <picture></picture>
                <div class="products__card">
                    <h3 class="products__card--title">ice coffee</h3>
                    <div class="products__card--box">
                        <p class="products__card--box-text">Fragrant invigorating drink created from 100% natural
                            ingredients without the use of preservatives and flavor enhancers</p>
                        <button class="products__card--box-button button">
                            <!-- <svg class="" width="" height="">
                                <use href=""></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__list--item list">
                <picture></picture>
                <div class="products__card">
                    <h3 class="products__card--title">milkshakes</h3>
                    <div class="products__card--box">
                        <p class="products__card--box-text">Sweet drinks based on milk and ice cream, supplemented with
                            syrups, fruits, berries and other sweets of your choice</p>
                        <button class="products__card--box-button button">
                            <!-- <svg class="" width="" height="">
                                <use href=""></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>