<section class="products section" id="products">
  <div class="container">
    <p class="uppertitle">100% NATURAL</p>
    <h2 class="products__title title">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card products__card--ice-cream">
          <h3 class="products__card-title">ice cream</h3>
          <div class="products__card-box">
            <p class="products__card-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button class="arrow-two button" data-modal-open-ingr>
              <svg class="" width="40" height="16">
                <use href="./images/icons.svg#arrow-default"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="products__background products__background--ice-cream">
          <picture>
            <source srcset="
                ./images/products/products-sm1@1x.png 1x,
                ./images/products/products-sm1@2x.png 2x
              " media="(max-width: 767px)" />

            <source srcset="
                ./images/products/products-md1@1x.png 1x,
                ./images/products/products-md1@2x.png 2x
              " media="(min-width: 768px)" />

            <h3 class="products__card-title">ice cream</h3>
            <div class="products__card-box">
              <p class="products__card-text">Soft ice cream with a delicate taste. Made with milk,
                cream,
                sugar and natural stabilizer
              </p>
              <button class="arrow-two">
                <svg class="" width="40" height="16">
                  <use href="./images/icons.svg#arrow-default"></use>
                </svg>
              </button>
            </div>
        </div>
      </li>

      <source srcset="
                ./images/products/products-lg2@1x.png 1x,
                ./images/products/products-lg2@2x.png 2x
              " media="(min-width: 1200px)" />
      <img src="./images/products/products-sm2@1x.png" class="products__image img" alt="ice-coffee" />
      </picture>
  </div>
  </li>

  <h3 class="products__card-title">ice coffee</h3>
  <div class="products__card-box">
    <p class="products__card-text">Fragrant invigorating drink created from 100%
      natural
      ingredients without the use of preservatives and flavor enhancers</p>
    <button class="arrow-two">
      <svg class="" width="40" height="16">
        <use href="./images/icons.svg#arrow-default"></use>
      </svg>
    </button>
  </div>
  </div>
  </li>

  <li class="products__item">
    <div class="products__card products__card--milkshakes">

      <h3 class="products__card-title">milkshakes</h3>
      <div class="products__card-box">
        <p class="products__card-text">Sweet drinks based on milk and ice cream,
          supplemented with
          syrups, fruits, berries and other sweets of your choice</p>
        <button class="arrow-two">
          <svg class="" width="40" height="16">
            <use href="./images/icons.svg#arrow-default"></use>
          </svg>
        </button>
      </div>
    </div>
  </li>
  </ul>
  </div>
</section>