.about {
  padding-top: 60px;

  @media screen and (max-width: 767px) {
    padding-bottom: 42px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 48px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.about__uppertitle {
  color: var(--color-white-main);
}

.about__title {
  margin: 0 auto 32px;

  color: var(--color-white-main);

  @media screen and (max-width: 767px) {
    max-width: 200px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 82px;
  }
}

.about__content {
  @media screen and (max-width: 767px) {
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}

.about__picture-container {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

.about__picture-background {
  position: absolute;
  width: 278px;
  height: 278px;

  border-radius: 50%;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}

.about__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 220px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 334px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__list {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
  }
}

.about__item {
}

.about__item:last-child {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about__desc-title {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: var(--lt-sp-main);
  text-align: center;

  color: var(--color-white-main);

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__desc-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.59;
  text-align: center;

  color: var(--color-white-main);

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.read-more__button {
  margin-left: 0;
}
.about__image {
  width: 278px;
  height: 278px;
  max-width: 278px;
  border-radius: 50%;
  align-items: center;
  translate: (0 7%);

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    max-width: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    max-width: 490px;
  }
}
