.advantages {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 86px;
  }
}

.advantages__title {}

.advantages__list {

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content:space-between;
      
  @media screen and (min-width: 1200px) {
        }
}}

.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  
}

.advantages__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

}

.advantages__icon{

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
  margin-bottom: 16px;

  border-radius: 50%;
  background-color: var(--color-yellow-main);

  @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }

}

.advantages__text-box{
  padding: 0;
  max-width: 230px;

  @media screen and (min-width: 768px) {
    max-width: 152px;
  }
  
    @media screen and (min-width: 1200px) {
      max-width: 320px;
    }
}

.advantages__title {
  margin-bottom: 18px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  letter-spacing: var(--lt-sp-main);
  text-align: center;

  text-transform: uppercase;

  @media screen and (min-width: 768px) {
      margin-bottom: 16px;
      
      font-family: var(--default-font);
      line-height: 1.22;
      font-size: 48px;
    }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.advantages__desc {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  
    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 14px;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
}
