.customer-reviews {
  background-color: transparent;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}

.customer-reviews__image {
  margin: auto;
  margin-bottom: 28px;
  border-radius: 50%;
}
.customer-reviews__comment {
  margin: auto;
  margin-bottom: 32px;
  padding: 34px 39px;
  border-radius: 10px;

  line-height: calc(31 / 12);
  text-align: center;

  background-color: var(--color-green-main);

  @media screen and (min-width: 768px) {
    padding: 29px 80px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    text-align: center;
    letter-spacing: var(--lt-sp-main);
  }

  @media screen and (min-width: 1200px) {
    padding: 39px 109px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
.customer-reviews__info {
  color: var(--color-black-main);
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;

  color: #131313;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.customer-reviews__radio-list {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.customer-reviews__radio {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;

  &:checked + .customer-reviews__radio-replace {
    background-color: var(--color-green-main);
  }
}

.customer-reviews__radio-replace {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-gray-radio);
}
