.gallery-customers-background {
  background-image: url('../images/background/icecream-7.jpg');
  background-color: var(--color-green-main);
  background-repeat: repeat-x;

  background-position: top 25px center;
  background-size: auto 1045px;

  @media screen and (min-width: 768px) {
    background-position: top 164px center;
    background-size: auto 959px;
  }
  @media screen and (min-width: 1200px) {
    background-position: top 94px center;
    background-size: auto 1013px;
  }
}
