.gallery-customers-background {
  background-image: url('../images/customer-reviews/customers-background-1200.jpg');
  background-color: var(--color-green-main);
  background-repeat: no-repeat;

  background-position: top 25px center;
  background-size: auto 1045px;
}
