.mobile-menu {
  visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  transform: translateX(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: var(--color-green-main);

  transition: transform, visibility;
  transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-npmduration);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  @media screen and (min-width: 768px) {
    display: block;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.is-open.mobile-menu {
  visibility: visible;
  transform: translateX(0%);

  .mobile-menu__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 51px;

    @media screen and (min-width: 768px) {
      margin-bottom: 76px;
    }
  }
}

.buy__button--mobile {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav__list-mobile {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  margin-bottom: 51px;
  transition: color var(--default-animation-duration) var(--default-animation);
}

.nav__item-mobile:focus .nav__item-link-mobile,
.nav__item-mobile:hover .nav__item-link-mobile {
  color: black;
}

.nav__item-link-mobile {
  text-decoration: none;
  color: var(--color-white-main);
}
