.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 61px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 18px;
    padding-bottom: 45px;
  }

  &__logo {
    width: 40.5px;
    @media screen and (min-width: 768px) {
      width: 48px;
    }
    @media screen and (min-width: 1200px) {
      width: 54px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 27px;
      font-weight: 700;
      line-height: 1.25;
    }
  }

  &__item-link {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--color-white-main);
// 
   position: relative;  
// 
    &:hover,
    &:focus {
      color: var(--color-yellow-main);
      
    }
  }
}
// кастомный курсор
.nav__icon{
  position:absolute;
  fill: transparent;  
  // stroke: black;
  width: 24px;
  height: 33px;
  left: 70%;
  top: 70%;
}
.nav__item-link:hover, .nav__item-link:focus .nav__icon{
  stroke: black;
} 
// кастомный курсор

.mobile-menu__button {
  display: block;
  fill: var(--color-white-main);
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.buy__button {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &--mobile {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
