.container--background-dots {
  position: relative;
  background-image: url(../images/dots-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 453px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/dots-tablet.svg);
    height: 351px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/dots-desktop.svg);
    height: 591px;
  }
}

.hero {
  // margin-bottom: 32px;
}

.hero__main-img {
  min-width: 150px;
  position: absolute;
  bottom: -6%;
  left: 23%;

  pointer-events: none;

  @media screen and (min-width: 320px) {
    left: 14%;
    bottom: -12%;
  }

  @media screen and (min-width: 768px) {
    left: 46%;
    bottom: -16%;
  }

  @media screen and (min-width: 1200px) {
    left: 45%;
    bottom: -17%;
  }
}
