// .header-hero {
//   @media screen and (min-width: 768px) {
//     height: 415px;
//   }
// 	@media screen and (min-width: 1200px) {
// 		height: 664px;
// 	}
// }

.container--background-dots {
  position: relative;
  background-image: url(../images/dots-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 502px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/dots-tablet.svg);
    height: 415px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/dots-desktop.svg);
  }
}

.hero {
  margin-bottom: 32px;
}

.hero__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero__main-img {
  min-width: 150px;
  // position: relative;
  position: absolute;
  left: 24%;
  bottom: 0;
  @media screen and (min-width: 768px) {
    left: 55%;
  }
}

// .hero__bottom-part {
//   position: relative;
// }
