.mobile-menu {
  visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;

  background-color: var(--color-green-main);

  transition: transform, visibility;
  transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.is-open.mobile-menu {
  visibility: visible;
  transform: translateX(0%);

  .mobile-menu__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.buy__button-mobile {
  display: block;
}

.nav__list-mobile {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  transition: color var(--default-animation-duration) var(--default-animation);

  @media screen and (min-width: 768px) {
    margin-top: 73px;
  }
}

.nav__item-mobile:focus .nav__item-link-mobile,
.nav__item-mobile:hover .nav__item-link-mobile {
  color: black;
}

.nav__item-link-mobile {
  text-decoration: none;
  color: var(--color-white-main);
}
